/*
    Document   : proyecto/css/style．css
    Created on : 2014-10-17 02:38 AM
    Author     : Cheloops
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}